@media (max-width: 767px) {
  .navlinks, 
  .ul-address {
    display: none;
  } 

.class-header {     
  width: 100%;
}

.section-one {
  width: 100%;        
}

.section-two {
  display: grid;
  place-content: center;
}

.section-two-ul {
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.section-two-text {
  display: flex;
  flex-direction: column;
  width: 288px;
  align-items: center;

}

.our-team-container {
  width: 100%;
  padding: 0;
  margin: 0;   
}

.ourteamlist {
width: 100%;
flex-wrap: wrap;
justify-content: center;

}

.our-portfolio-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.our-portfolio-ul {
  width: 100%;
  justify-content: center;
}

.footer-container {
  padding: 96px 16px;
  justify-content: center;
}

.footer-text-social {
  flex-direction: column;
}

.footer-div-one {
  display: flex;
  flex-direction: column;
  align-items: center;

}

footer .logotype {
  margin-right: 0;
}

.social-links-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.subscription-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-form {
  flex-direction: column;
  align-items: center;
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
}

.hamburger-menu-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-menu-button:hover, .hamburger-menu-button:focus {
  background-color: #404bbf;
  border: none;
}


.mobile-menu-container .hamburger-menu-icon-exit:hover,
.mobile-menu-container .hamburger-menu-icon-exit:focus {
  fill: #ffffff;
}

.hamburger-menu-li-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 72px 16px;
  
}

.hamburger-menu-nav-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;

}

.hamburger-menu-nav-li {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.hamburger-menu-link {
  color: #2e2f42;
}

.hamburger-menu-nav-ul .link-studio:hover,
.hamburger-menu-nav-ul .link-studio:focus {
  color: #404bbf;
}

.hamburger-menu-address-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.hamburger-menu-address-li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-style: normal;
}

.hamburger-menu-address-link {
  color: #434455;
}

.hamburger-menu-address-link:hover,
.hamburger-menu-address-link:focus {
  color: #404bbf;
}

.hamburger-menu-social-media-ul {
  display: flex;
  gap: 40px;
}

.hamburger-menu-social-media-button:hover,
.hamburger-menu-social-media-button:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  @media (max-width: 408px) {
    .modal-window-div {
      width: 100%;
    }
  }

}