@media (min-width: 768px) and (max-width: 1158px) {

/*HEADER*/

header .container {
    display: flex;
    flex-direction: row;
    width: 100%; 
     
  }

.nav-links {
    margin-left: 120px;
}

.nav-links a {
    font-size: 16px;
   
}

.class-header {
    padding-left: 16px;
    padding-right: 16px;
}


.logotype {
font-size: 18px;

}

.ul-address {
flex-direction: column;
width: 119px;
gap: 12px;
font-size: 12px;
margin-top: 0;
margin-bottom: 0;


}

.a-one {
width: 119px;
height: 14px;
margin-left: 0px;
justify-content: center;
margin-right: 0px;

}
    
.a-two {
width: 118px;
height: 14px;
gap: 0px;
margin-right: 0px;
justify-content: center;
margin-left: 0px;
}

/*SECTION-ONE*/

main .section-one-container {
width: 100%;
}

/*SECTION-TWO*/

.section-two {
    display: flex;
    padding: 96px 16px;
    height: 504px;
    width: 100%;
    height: 100%;
}

.section-two-container {
    display: flex; 
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    justify-content: space-evenly;
    min-width: 736px;

}

.section-two .section-two-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
    max-width: 736px;
}

main .section-two-div-svg {
display: none;
}

main .section-two-text {
width: 356px;
height: 100%;
height: 120px;
width: 100%;


}

.section-two .section-two-ul .header-third {
font-size: 36px;
font-weight: 500;
width: 264px;
height: 40px;


}

.section-two .section-two-li .section-two-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-size: 16px;
    width: 356px;
    height: 72px;
    font-weight: 500;
    height: 100%;
   
  }

  /*OUR TEAM*/

  .ourteam {
    padding: 96px 108px;
  }

  main .our-team-container {
    width: 100%;
    padding: 0;
    margin: 0; 
 
  }

  main .ourteamlist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    max-width: 552px;
    
    }

/*OUR PORTFOLIO*/

main .our-portfolio-container { 
    height: 1516px;
    height: 100%;
    padding: 0;
    width: 100%;
}


main .ourportfolio {
    display: flex;
    width: 100%;
    justify-content: center;
    width: 768px;
    height: 1708px;
    height: 100%;
    padding: 96px 0px;

    
}

.ourportfolio .header-ourportfolio {
    margin: auto;
}

main .our-portfolio-ul {
    display: flex;
    width: 736px;
    flex-wrap: wrap;
    width: 100%;
    height: 1404px;
    height: 100%;
    row-gap: 72px;
    padding: 0;
    justify-content:center;
    align-items:baseline;
}

.ourportfolio .our-portfolio-card {
    width: 100%;

}

/*FOOTER*/ 
footer {
    width: 100%;
    height: 456px;
    padding: 96px auto;
    min-width: 768px;
}

footer .footer-container {
    display: flex;
    width: 496px;
    height: 100%;
    margin-left: 108px;
    flex-wrap: wrap;

    padding: 0;
  
}

.footer-div-one {
    margin-right: 24px;
   }
 


.footer-text-social {
    width: 100%;
}

footer .subscription-form-footer {
    margin-left: 0;
    margin-top: 72px;
    width: 768px;
}




}